:root {
    /*arbitrary number % to initialize the property*/
    --tile-width-percentage: 49%;
}

body {
    margin: 0;
    padding: 0;
    ;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.button-container {
    padding: 10px;
    text-align: center;
}

.grid-section {
    border: 2px solid black;
    flex-grow: 1;
    display: flex;
}

.grid-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    box-sizing: border-box;
}

.tile {
    flex: 1 1 var(--tile-width-percentage);
}